.dashboardTableWrapper
{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.tableWrapper
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 95%;
}
.tablePillWrapper
{
    display: flex;
    flex-wrap: wrap;
}
.tablePill ,.statusPill
{
    background: rgb(189, 189, 189);
    padding: 6px 10px;
    margin: 5px ;
    border-radius: 5px;
}
.prty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.UnderReview {
    background: rgb(184, 135, 13);
    color: #fff;
    padding: 6px 10px;
    margin: 5px;
    border-radius: 5px;

}
.Reviewed {
    background: rgb(15, 137, 213);
    color: #fff;
    padding: 6px 10px;
    margin: 5px;
    border-radius: 5px;

}
.Accepted
{
    background: rgb(17, 170, 81) !important;
    color:#fff;
    padding: 6px 10px;
        margin: 5px;
        border-radius: 5px;

}
.InProcess
{
    background: rgb(218, 178, 32);    
    color:#fff;
    padding: 6px 10px;
        margin: 5px;
        border-radius: 5px;
}
.Rejected
{
    background: rgb(250, 60, 60) !important;    
    color:#fff;
}

.disabled-row
{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;

}