.filePreviewWrapper {
  display: none;
  /* display: flex; */
  z-index: 10000;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  backdrop-filter: blur(4px);
  background-color: rgba(17, 17, 17, 0.318);
}

.filePreviewWrapper.open {
  display: flex;
  align-items: flex-start;
 
  justify-content: flex-start;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;

  background-color: #00000090;

  padding: 0 2em;
}
.previewWrapper
{
  width: 95vw;
}
.previewTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  padding: 20px;
  gap: 60px;
  color: #fff;
  vertical-align: middle;
}

.filePreviewcloseBtn {
  cursor: pointer;
  border-radius: 50px;
  padding: 12px;
  transition: all 0.25s ease-in-out;
}
.filePreviewcloseBtn:hover
{
    background: rgba(0, 0, 0, 0.834);
}

.fileName {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
}

.previewSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.filePreview {
  /* flex: 2; */
  height: 90vh;
  overflow-y: scroll;
}
.filePreview::-webkit-scrollbar,.previewForm::-webkit-scrollbar
{
  display: none;
}
.fileFrame
{
    width: 95%;
    height: 90vh;
}

.previewComments {
  /* flex: 1; */

  height: 90vh;

  background-color: #fff;
  padding: 20px 2em;

  /* overflow-y: scroll; */

  border-radius: 10px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  position: relative;
}

.metaData,.commentSectionWrapper
{
  
  overflow-y: scroll;
  width: 100%;
}
.metaData
{
  height: 600px;
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
}
.commentSectionWrapper
{
  max-height: 500px;
}
.commentSectionWrapper::-webkit-scrollbar,.metaData::-webkit-scrollbar
{
  display: none;
}
.commentsInput{
  border: none;
}
.buttons{
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.buttons button{
  height: 20px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(24, 87, 202);
  margin: 6px;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 50px;
}
/* .previewComments::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.previewComments::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.previewComments::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1em;
} */



.commentSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 1em 0;
  margin-top: 10px;
  max-height: 70%;
  overflow-y: scroll;
  gap: 2em;
}

.commentSection::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.commentSection::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.commentSection::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1em;
}

.commentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  flex-direction: column;
  gap: 0.5em;
}

.commenterProf {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  font-family: 'Outfit', sans-serif;
}

.usrName {
  font-weight: 500;
}

.commentText {
  text-align: left;
  width: 80%;
}

.previewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
height: 98%;
overflow-y: scroll;
  background-color: #fff;
  
  
}
.previewForm input {
  width: 100%;
  height: 80%;
  outline: none;
  border: none;
  height: 60px;
  padding: 1% 2%;
  border: 1px solid #27272750;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 5px;
  /* border-radius: 10px; */
}


@media screen and (max-width: 768px) {
  .filePreviewWrapper
  {
    padding: 5vh 0;
  }
  .filePreview
  {
    flex: 1;
  }
  .fileFrame{
    width: 100%;
  }
  
}