.loginFormWrapper
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adminLoginFormWrapper{
    background-color: #202020;
    height: 450px;
    width: min(450px,90vw);   
    margin: auto;    
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.35);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adminLoginFormWrapper *{
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.formTitle
{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    top: 0;
}
.adminLoginFormWrapper .loginFormInput
{
    margin: 20px auto;
}
.adminLoginFormWrapper input{
    display: block;
    height: 45px;
    width: min(360px,75vw); 
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 0 15px;
    font-weight: 300;
    border-radius: 5px;   
    transition: 0.5s all;
}
.adminLoginFormWrapper label{
    
    color: #e5e5e5;
    cursor: pointer;
    font-size: 12px; 
    text-transform: uppercase;
    transition: 0.5s all; 
}

.adminLoginFormWrapper button{
    
    width: 100%;   
    padding: 15px 0;
    background-color: #ffb923;
    color: #ffffff;
    border-radius: 5px;
    margin: 20px auto;
}

.adminLoginFormWrapper .errorMessage
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(253, 98, 98);
    display: none;
    text-align: center;

}

.adminLoginFormWrapper .loginBottomMessage
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
}
.adminLoginFormWrapper .loginBottomMessage a
{
    margin-left: 2px;
}