.bodyWrapper
{
  width: 100vw;
  min-height: 100vh;

}

.mainWrapper
{
   width: calc(100vw-var(--nav-width));
   margin-left:var(--nav-width) ;

  min-height: 100vh;
  padding:2%;
  position: relative;

}


.pageTop
{
  display: flex;
  /* padding: 0 2vw; */
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.pageTitle
{
  font-size: 4vh;
  font-weight: 600;
}

.newRecordButton
{
  background: #2287E3;
  border-radius: 15px;
  padding: 6px 20px;
  color: #fff;
  border: 2px solid #2287E3;
  transition: 0.4s ease;
  cursor: pointer;
}
.newRecordButton:hover
{
  background: transparent;
  color: #2287E3;
}
.goBackBtn
{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    left: -4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 800;
    cursor: pointer;
    z-index: 10001;
}

.dashboardFilterDivWrapper,.filterDivWrapper
{
  display: flex;
  align-items: center;

}
.dashboardFilterDivWrapper
{
  background: #F6F6F6;
  height: 70px;
  padding: 0 2%;
  justify-content: space-between;
  border-radius: 12px;
  margin: 20px auto;
}
.dashboardFilterDivWrapper>.searchForm
{
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 1%;
  border-radius: 12px;
}

.dashboardFilterDivWrapper>.searchForm>input,.dashboardFilterDivWrapper>.searchForm>button
{
  background: transparent;
  border: 0 transparent;
  height: 40px;
}
.dashboardFilterDivWrapper>.searchForm>input
{
  width: 80%;
  padding: 0 2%;
  font-weight: 600;
  color: rgb(0, 0, 0,0.3);
}
.dashboardFilterDivWrapper>.searchForm>input:focus,.dashboardFilterDivWrapper>.searchForm>input:hover
{
  border: none;
  outline: none;
}
.dashboardFilterDivWrapper>.searchForm>button
{
  font-size: 20px;
  color: #004C93;
}
.filterDivWrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchDiv
{
  padding: 6px 20px;
  color: #004C93;
  background: #fff;
  border-radius: 12px;
  margin: 0 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.searchDiv>svg
{
  margin-right: 6px;
  font-weight: 800;
}
.searchForm,.searchDiv
{
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.05);
}
.exportDiv
{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.dashboardTableWrapper
{
  max-width: 98vw !important;

}
.errorMessage
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(253, 98, 98);
    /* display: none; */
    text-align: center;
    font-weight: 600;

}

@media screen and (max-width:800px) {

  .mainWrapper
  {
    width: 100%;
    margin-left: 0;
  }
  .newRecordButton
  {
    font-size: 13px;
    text-align: center;
    padding: 6px 10px;
  }
  .pageTitle
  {
    font-size: 18px;
  }

  .goBackBtn
  {
    left: 0;
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .dashboardFilterDivWrapper
  {
    flex-direction: column;
    height: auto;padding: 10px 0;
    align-items: flex-start;
  }
  .dashboardFilterDivWrapper>.searchForm
  {
    margin-bottom: 12px;
    width: 100%;
  }
 
}


